*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.items{
    border: 1px solid black;
    background-color: greenyellow;

}

.container{
    border: 1px solid black;
    width: 1000px;
    text-align: center;
    margin: 2rem auto;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 250px;
    gap: 10px;
    /* align-items: end; */
    /* justify-items: end;     */
}

.item-1{
    align-self: start;
    background-color: red;

}
.item-2{
    justify-self: start;
    background-color: yellow;
}
.item-3{
    background-color: gray;
    align-self: end;
}
.item-4{
    background-color: pink;
    justify-self: end;
    align-self: end;
}